<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Why daylight is so important for <em>your wellness</em></h1>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <li>Insufficient daylight may cause psychological health problems, in certain people,
                            because of its effect on the production of the hormone melatonin. </li>
                        <li>Melatonin is released from the pineal gland (a pea-size structure at the centre of
                            the brain) after several hours of darkness and it is presumed to be one of the
                            body’s chemicals involved in causing us to feel sleepy.</li>
                        <li>When daylight comes, the brain inhibits the secretion of melatonin and the period
                            of wakefulness begins. </li>
                        <li>Evidence suggests that individuals with SAD have a longer period of melatonin
                            production at night in the winter. In addition, SAD sufferers may have higher
                            daytime melatonin levels during winter, compared to those without SAD.</li>
                        <li>Alternative theories suggest that it is the lack of serotonin, which is a
                            characteristic of people in depressive states. </li>
                        <li>Serotonin is produced when adequate light is available.</li>
                        <p>The negative impact of insufficient daylight on psychological health has been termed:
                            seasonal affective disorder (SAD).
                            </p></br></br>
                            <div class="section-heading">
                                <h1>Actions you <em>can take</em></h1>
                            </div>
                            <div class="text-content">
                                <li>Your knowing that daylight is associated to varying degrees with the mental wellbeing of an individual should make you more conscious of the need to make daily
                                    efforts to take a dosage of sunlight whenever possible. </li>
                                <li>The most obvious and cheap solution is, each day, to take a bath of daylight for
                                    about 15 to 30 minutes or at least seek out whatever daylight is available</li>
                                <li>You can buy special lights to provide this daylight effect indoors. </li>
                                <li>These lights offer generally about 10 to 50 times the intensity of normal indoor
                                    lighting. </li>
                                <li>Exposure to the light of these lamps is usually recommended to be in sessions of
                                    about 30 minutes with a maximum time of around 2 hours per day </li>
                                <li>Certainly consulting a doctor, or other specialised health professional, is highly
                                    recommended if you believe you might be experiencing SAD symptoms to such
                                    an extent that you are feeling negative about your wellness levels. </li>
                           </div></div></div></div>
                           
            </section>
</div>
